#analysis {
  padding: 60px 40px;
  h3 {
    font-style: Noto Sans TC;
    font-weight: 400;
    font-size: 270%;
    letter-spacing: 0;
    color: #e8e8e8;
    opacity: 1;
  }
  .report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    span.todaydate {
      opacity: 0.5;
      left: 5%;
    }
    .today,
    .week {
      width: 48%;
    }

    .content {
      font-style: Noto Sans TC;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
      height: 165px;
      text-align: center;
      border: 1px solid #dedede;
      border-radius: 8px;
      margin-top: 16px;
      .green-number,
      .orange-number {
        font-size: 80px;
      }
      .green-number {
        color: $color-primary2;
      }
      .orange-number {
        color: $color-secondary2;
      }
      .middle-line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 60%;
        background-color: #dedede;
      }
    }
  }
  .chart-date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    .startweek,
    .endweek {
      font-weight: 300;
      letter-spacing: 2px;
    }
    .rightspan,
    .leftspan {
      width: 0px;
      height: 0px;
      margin: 0 24px;
      border: 6px solid $color-primary;
    }
    .leftspan {
      border-right: 6px solid #ffffff;
    }
    .divide-sign {
      margin: 0 12px;
    }
    .rightspan {
      border-left: 6px solid #ffffff;
    }
  }
  .chart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 32px;
    .number {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-right: 14px;
      p {
        margin-top: 14px;
      }
    }

    .bar-area {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 532px;
      height: 280px;
      padding-left: 20px;
      border: solid 1px;
      border-top: none;
      border-right: none;
      color: $color-light3;
      .bar {
        width: 32px;
        margin-left: 32px;
        background-color: $color-primary2;

        p {
          position: absolute;
          bottom: -32px;
        }
      }
      .bar1{
        height: 90px;
      }
      .bar2{
        height: 57px;
      }
      .bar3{
        height: 108px;
      }
      .bar4{
        height: 33px;
      }
      .bar5{
        height: 130px;
      }
      .bar6{
        height: 70px;
      }
      .bar7{
        background-color: $color-secondary2;
        height: 105px;
      }
    }
  }
}
