#tomato {
	.countDown {
		.clock {
			position: absolute;
			top: 40px;
			padding-top: 8px;
			left: 120px;
			width: 451px;
			height: 252px;
			font-size: 200px;
			color: $color-light3;
			text-align: left;
		}
		.bell, .cancel {
			position: absolute;
			top: 300px;
			width: 48px;
			height: 48px;
			border: 2px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			background-color: $color-primary;
			outline: none;
		}
		.bell:hover, .cancel:hover {
			filter: brightness(2);
		}

		.bell {
			left: 250px;
		}
		.cancel {
			left: 394px;
		}
		.playAndPause {
			position: absolute;
			top: 292px;
			left: 314px;
			width: 64px;
			height: 64px;
			border: 1px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			outline: none;
			font-size: 22px;
		}
		.playAndPause:hover {
			filter: brightness(0.8);
		}
		
		.orange.playAndPause path{
			color: $color-secondary2;
		}
		.green.playAndPause path{
			color: $color-primary2;
		}
	}


	.circleToCheck {
		position: absolute;
		border: 2px solid $color-light3;
		border-radius: 50%;
		outline: none;
		left: 728px;
		width: 24px;
		height: 24px;
		background-color: $color-primary;
	}
	.fourThings {
		position: absolute;
		left: 768px;
		font-size: 16px;
		color: $color-light3;
		font-weight: 200;
		//letter-spacing: 1.5px;
		text-align: left;
		height: 24px;
		display: flex;
		justify-content: center;
		//background-color: $color-primary2;
	}
	.circleONE, .listONE {
		top: 80px;
	}
	.circleTWO, .listTWO {
		top: 152px;		//175
	}
	.circleTHREE, .listTHREE {
		top: 197px;		//232
	}

	.circleFOUR, .listFOUR {
		top: 242px;		//289
	}
	.circleONE {
		//top: 84px;
		width: 40px;
		height: 40px;
		left: 720px;
	}
	.listONE {
		//top: 80px;		//80
		left: 776px;
		font-size: 32px;
		height: 47px;
		//background-color: $color-primary2;
	}

	.takeaBreak {
		position: absolute;
		top: 80px;
		padding-top: 8px;
		left: 720px;
		font-size: 80px;
		color: $color-light3;
		font-weight: 500;
		letter-spacing: 2px;
	}
	.nextEffort {
		position: absolute;
		top: 200px;
		padding-top: 8px;
		left: 720px;
		font-size: 30px;
		color: $color-light3;
		font-weight: 300;
		letter-spacing: 2px;
	}

	.bottom {
		display: flex;
		justify-content: center;
		.tomatoImg {
			position: fixed;
			//top: 505px;
			width: 991px;
			height: 316px;
			bottom: -2px;
		}
	}
}